<!DOCTYPE html>
<html class="no-js">

<head>
    
    <script src="/libs/jquery-2.1.1.min.js"></script>
    <script src="/libs/jquery-dateFormat.min.js"></script><!--https://github.com/agschwender/jquery.formatDateTime-->
    
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/style3.css" />
    <script src="/js/modernizr.custom.js"></script>
    <script>
        var init = false;        
    </script>
    
</head>

<body>
<!--<input type="text" value="75" class="dial" id="progress-knob"/>-->
<div  id="progress-bar"></div>
<div id="console" class="dos"></div>
<div class="container" id='main'>