<!DOCTYPE html>
<html class="no-js">

<head>


    <script src="/libs/rAF.js"></script>
    <script src="/libs/hello.min.js"></script>
    <script src="/libs/jquery-2.1.1.min.js"></script>
    <script src="/libs/jquery.json-2.4.min.js"></script>
    <script src="/libs/jquery-dateFormat.min.js"></script>
    <!--https://github.com/agschwender/jquery.formatDateTime-->

    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />

<!--
    <script src="/libs/sweet-wizard.js"></script> 
    <script src="/libs/sweet-alert.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/libs/sweet-alert.css"/>
-->

    <script>
    var init = false;
    </script>

</head>

<body>
    <div id="progress-bar"></div>
    <div id="console" class="dos"></div>
