



<nav id="bt-menu" class="bt-menu">
    <a href="#" class="bt-menu-trigger">
        <span>Menu</span>
    </a>
    <ul>
        <li><a href="/index" class="bt-icon ">Index</a>
        </li>
        <li><a href="/fuzzy/index" class="bt-icon">Fuzzy</a>
        </li>
        <li><a href="/nteam/index" class="bt-icon ">Newteam</a>
        </li>
        <li><a href="#" class="bt-icon ">Blog</a>
        </li>
        <li><a href="#" class="bt-icon ">Clients</a>
        </li>
        <li><a href="#" class="bt-icon ">Contact</a>
        </li>
    </ul>
</nav>

<script src="/js/classie.js"></script>
<script src="/js/borderMenu.js"></script>