<link rel="stylesheet" type="text/css" href="/css/storify/UI-edit.css">
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>


<div id = 'UI-EDIT' class="active">
</div>
<script>
	$(document).ready(function(){
		$('#UI-EDIT').height($(window).height());
		$('#UI-EDIT').width($(window).width());
		$(window).smartresize(function() {
       		 $('#UI-EDIT').height($(window).height());
       		 $('#UI-EDIT').width($(window).width());
       		 console.info($(window).width(),$(window).height());
       		 console.info($('#UI-EDIT').width(),$('#UI-EDIT').height());
    	});
	});
	
</script>