<link rel="stylesheet" type="text/css" href="/css/storify/UI-view.css">
<div id = 'UI-VIEW' >
	<div id = 'earth-canvas'>
			
	</div>
</div>
<script>
	$(document).ready(function(){
		$('#UI-VIEW').height($(window).height());
		$('#UI-VIEW').width($(window).width());
		$(window).smartresize(function() {
       		 $('#UI-VIEW').height($(window).height());
       		 $('#UI-VIEW').width($(window).width());
    	});
	});
	
</script>