<% include partials/head %>
    <link rel="stylesheet" type="text/css" href="css/storify/storify.css" />

    <style type="text/css">
    #map-canvas {
        height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    </style>
    <div id="main">
        <% include partials/storify/UI-edit %>
        <% include partials/storify/UI-view %>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/libs/garageserver.io.js"></script>
    <link rel="import" href="http://www.polymer-project.org/components/font-roboto/roboto.html">
    <script type="text/javascript" src="/libs/dropzone.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.js"></script>
    <script src="/libs/physi.js"></script>
    <script src="/libs/ammo.js"></script>    
    <script src="/libs/simplex-noise.js"></script>
    <script src="/libs/nteam/three.TrackballControls.js"></script>
    <script src="/libs/nteam/stats.min.js"></script>
    <script src="/libs/fonts/droid/droid_serif_bold.typeface.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVzd4DmZi7gTTxGgl1xxu-dt9z-IOnRvc&libraries=visualization,geometry"></script>

    <!-- START APPLICATION -->

    <script src="/js/storify/dist/cowabunga.bundle.js"></script>
    <% include partials/foot %>
