<html>

<head>
    <title>Boids</title>
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100|Open+Sans:300' rel='stylesheet' type='text/css'>
    <style type="text/css">
    </style>
    <script src="/libs/jquery-2.1.1.min.js"></script>


    <script type="text/javascript">
    </script>
</head>

<body>
    <div id="progress-bar"></div>
    <div id="console" class="dos"></div>

</body>

<script src="/libs/rAF.js"></script>
<!--request animation frame -->
<script src="/libs/hello.min.js"></script>
<!-- for fb/g+ auth -->
<script src="/js/flock/dist/flock.js"></script>
<script src="/js/usm.js"></script>
<script src="/js/start.js"></script>

</html>
