<!DOCTYPE html>
<html class="no-js">

<head>

    <script src="/libs/rAF.js"></script>
    <script src="/libs/hello.min.js"></script>
    <script src="/libs/jquery-2.1.1.min.js"></script>
    <script src="/libs/jquery-dateFormat.min.js"></script>
    <!--https://github.com/agschwender/jquery.formatDateTime-->

    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="/js/modernizr.custom.js"></script>
    <script>
    var init = false;
    </script>
</head>

<body>

</body>

<script src="/js/usm.js"></script>
<!-- gurbano user management -->
<script src="/js/classie.js"></script>
<script src="/js/start.js"></script>

</html>
