<% include partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/nteam/nteam.css">
    <style type="text/css">
    #main {
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    </style>
    <div id="main">

    </div>

    <div id='socialbar'>
        <div id='profilepic' ></div>
    </div>
    <script src="/js/nteam/nteam.js"></script>
    <% include partials/foot %>
