<% include partials/head %>
   

    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.js"></script>
    <script src="/libs/nteam/three.TrackballControls.js"></script>
    <script src="/libs/nteam/stats.min.js"></script>
    <script src="/libs/shapefile.js"></script>
    <script src="/libs/fonts/droid/droid_serif_bold.typeface.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/nteam/nteam.css">
    <style type="text/css">
    #main {
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    </style>


    <div id="main">
        <div id="globe">
        </div>
    </div>


    <script src="/js/nteam/nteam.js"></script>
    <script src="/js/nteam/nteam.UX.js"></script>
    <script src="/js/nteam/nteam.cost.js"></script>
    <script src="/js/nteam/nteam.setup.js"></script>
    <script src="/js/nteam/nteam.lights.js"></script>
    <script src="/js/nteam/nteam.earth.js"></script>
    <script src="/js/nteam/nteam.dd.js"></script>
    <script src="/js/nteam/nteam.renderer.js"></script>
    <script src="/js/nteam/nteam.engine.js"></script>
    <script src="/js/nteam/nteam.simulator.js"></script>

    
    <% include partials/foot %>
