<% include partials/head %>
    <link rel="stylesheet" type="text/css" href="css/storify/storify.css" />

    <style type="text/css">

    </style>
    <div id="main">
        <% include partials/storify/UI-edit %>
        <% include partials/storify/UI-view %>
    </div>

    <link rel="import" href="http://www.polymer-project.org/components/font-roboto/roboto.html">
    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.js"></script>
    <script src="/libs/nteam/three.TrackballControls.js"></script>
    <script src="/libs/nteam/stats.min.js"></script>
    <script src="/libs/fonts/droid/droid_serif_bold.typeface.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVzd4DmZi7gTTxGgl1xxu-dt9z-IOnRvc&libraries=visualization,geometry"></script>

    <!-- START APPLICATION -->

    <script src="/js/storify/dist/simsity.bundle.js"></script>
    <% include partials/foot %>
