.c1{
	color: #624E50;
}
.c2{
	color: ##93A2A2;
}
.c3{
	color: #F1667D;
}
.c4{
	color: #3F8C97;
}
.c5{
	color: #F9F8E4;
}

/**
 * http://coolors.co/624e50-93a2a2-f1667d-3f8c97-f9f8e4
 */
#timeline-wrapper{
	width: 100%;
	position: fixed;;
	bottom: 20px;
}
#timeline{
	display: none;
	width:100%;
	height: 40px;
	background-color: #624e50;
	opacity: 0.6;
	margin: 0 auto;
	text-align: right;
}
#timeline span{
	font-family: 'Roboto', sans-serif;
	font-size: 200%;
	font-variant: small-caps;
	margin-bottom: 10px;
	color: #93a2a2;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.draggable{
	width: 100px; height: 40px; float: left; 
	background-color: black; 
}
#timeline:hover{	
	opacity: 0.9;
}